// Colors
$color-primary: #77d9d3;
$color-secondary: #6495ed;
$white: #fff;
$text-color: #686868;

//Button colors

$success: #2ecc71;
$error: #DF5286;
$warning: #FF5333;
$info: #9370Db;

// Grid colors

$charlotte: #AEF9F2;
$blue-chill: #0E8390;
$malibu: #78D6F2;
$perfume: #ECB4F9;
$fern: #6BB37B;
$kobi: #ECACBE;
$apricot: #EB947A;





// Fonts

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Teko', sans-serif;


// Breakpoints

$break-small: 1px;
$break-mobile:  480px;
$break-desktop: 769px;