.img--avatar {
    width: 35%;
    display: block;
    margin: auto;
  
}
.img--logo {
    display: block;
    margin: auto;
}

.img--frame {
    display: flex;
    margin: auto;
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid $text-color;
    padding: 6px;
}

//Media Queries

@include mq(large) {
    .grid__col--6 {
        width: 50%;
       
    }
}

@include mq(large) {
    .img--logo {
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}